// filename: src/components/organisms/Layout/Layout.module.scss
@use '../../../styles/abstracts' as a;

.layoutWrapper {
  display: flex;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: a.cvar('page-bg');
}

.mainContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
  overflow: hidden;
}

.content {
  flex: 1;
  padding: 32px;
  overflow-y: auto;
  box-sizing: border-box;
  width: 100%;
}
